.flex-wrap
  display flex
  flex-direction row
  justify-content center
  align-items center
.large-btn
  margin-top 50px
  width 298px
  height 76px
  border-radius 4px
  background-color #748096
  &__link
    color #ffffff
    font-family "Montserrat", sans-serif
    font-size 30px
    font-weight 700
    text-decoration none
    width 100%
    height 100%
    display flex
    flex-direction row
    justify-content center
    align-items center