.header
  background-color #383e49
  width 100%
  height 80px
  display flex
  flex-direction row
  justify-content center
  align-items center
  &__p
    color #ffffff
    font-family "Montserrat", sans-serif
    font-size 34px
    font-weight 700
    line-height 20px
    margin-left 20px