mixin b-list()
	+b('div').list-wrap
		+b('div').list
			+e.item
				+e('div').img-wrap
					+e('img').img(src="img/tic.png")
				+e('p').p Документ, що посвідчує особу
			+e.item
				+e('div').img-wrap
					+e('img').img(src="img/tic.png")
				+e('p').p Водійське посвідчення
			+e.item
				+e('div').img-wrap
					+e('img').img(src="img/tic.png")
				+e('p').p Інформаційна картка
			+e.item
				+e('div').img-wrap
					+e('img').img(src="img/tic.png")
				+e('p').p Зразок заяви для здійснення вилучення