.list-wrap
  display flex
  flex-direction row
  justify-content center
  align-items center
.list
  margin-top 30px
  height 399px
  width 764px
  background-color #ffffff
  display flex
  flex-direction column
  justify-content space-around
  align-items center
  &__item
    display flex
    flex-direction row
    justify-content flex-start
    align-items center
  &__img-wrap
    width 37px
    height 37px
    margin-right 35px
    border-radius 8px
    background-color #ebeef6
  &__p
    width 447px
    color #383e49
    font-family "Montserrat", sans-serif
    font-size 24px
    font-weight 400
    line-height 36px