mixin b-under-header-nav(header, step, url)
	+b('div').under-header-nav
		+e('div').wrap
			+b('div').back-btn
				+e('a').link(href='/' + url) Назад
					+e('img').img(src="img/back.png")
			+e('p').p!=header
			+e('p').indicator!=step