.done-wrap
  display flex
  flex-direction column
  justify-content space-between
  align-items center
  padding-top 150px
  &__header
    color #474d58
    font-family "Montserrat", sans-serif
    font-size 64px
    font-weight 700
    line-height 20px
    margin-bottom 50px
  &__timer
    color #474d58
    font-family "Montserrat", sans-serif
    font-size 34px
    font-weight 400
    margin-bottom 50px
  &__number-header
    color #474d58
    font-family "Montserrat", sans-serif
    font-size 34px
    font-weight 400
    margin-bottom 50px
.number-wrap
  background-color #04b700
  width 180px
  height 180px
  border-radius 50%
  display flex
  flex-direction column
  justify-content center
  align-items center
  &__number
    color #ffffff
    font-family "Montserrat", sans-serif
    font-size 70px
    font-weight 700