extends layouts/root

block header
	+b-header()
block main
	div#barba-wrapper
		div.barba-container
			- step1 = 'Послуги'
			- step2 = '&#8195;&#8250;&#8195;Підприємницька діяльність'
			+b-breadcrumbs(step1, step2, step3)
			- header = 'Виберіть послугу'
			- step = 'крок 2 із 3'
			- url = 'index.html'
			+b-under-header-nav(header, step, url)
			+b('div').row
				- text = 'Видача ліцензії на імпорт товарів'
				+b-service-item(text)
				- text = 'Оформлення паспорту привязки сезонного</br>майданчика для харчування'
				+b-service-item(text)
			+b('div').row
				- text = 'Державна реєстрація створення  відокремленого</br>підрозділу юридичної особи'
				+b-service-item(text)
				- text = 'Для державної реєстрації зміни складу</br>комісії з припинення'
				+b-service-item(text)
			+b('div').row
				- text = 'Видача разової (індивідуальної) ліцензії'
				+b-service-item(text)
				- text = 'Державна реєстрація створення</br>юридичної особи'
				+b-service-item(text)
			+b('div').row
				- text = 'Державна реєстрація договорів (контрактів)</br>про спільну інвестиційну діяльність за участю</br>іноземного інвестора'
				+b-service-item(text)
				- text = 'Анулювання державної реєстрації іноземних</br>інвестицій.'
				+b-service-item(text)
			+b('div').row
				- text = 'Анулювання державної реєстрації іноземних</br>інвестицій.'
				+b-service-item(text)
				- text = 'Перереєстрація іноземних інвестицій'
				+b-service-item(text)