extends layouts/root

block header
	+b-header()
block main
	div#barba-wrapper
		div.barba-container
			+b-under-header()
			+b-under-header-nav()
			+e('div').row
				- text = 'Видача ліцензії на імпорт товарів'
				+b-service-item(text)