extends layouts/root

block header
	+b-header()
block main
	div#barba-wrapper
		div.barba-container
			- step1 = 'Послуги'
			- step2 = '&#8195;&#8250;&#8195;Підприємницька діяльність'
			- step3 = '&#8195;&#8250;&#8195;Видача ліцензії на експорт товарів'
			+b-breadcrumbs(step1, step2, step3, step4)
			- step = 'крок 3 із 3'
			- header = 'Перевірте наявність документів'
			+b-under-header-nav(header, step)
			+b('div').row