extends layouts/root

block header
	+b-header()
block main
	div#barba-wrapper
		div.barba-container
			+b-under-header()
			+b-under-header-nav()
			+b('div').row
				- text = 'Видача ліцензії на імпорт товарів'
				+b-service-item(text)
				- text = 'Оформлення паспорту привязки сезонного</br>майданчика для харчування'
				+b-service-item(text)
			+b('div').row
				- text = 'Державна реєстрація створення  відокремленого</br>підрозділу юридичної особи'
				+b-service-item(text)
				- text = 'Для державної реєстрації зміни складу</br>комісії з припинення'
				+b-service-item(text)
			+b('div').row
				- text = 'Видача разової (індивідуальної) ліцензії'
				+b-service-item(text)
				- text = 'Державна реєстрація створення</br>юридичної особи'
				+b-service-item(text)
			+b('div').row
				- text = 'Державна реєстрація договорів (контрактів)</br>про спільну інвестиційну діяльність за участю</br>іноземного інвестора'
				+b-service-item(text)
				- text = 'Анулювання державної реєстрації іноземних</br>інвестицій.'
				+b-service-item(text)
			+b('div').row
				- text = 'Анулювання державної реєстрації іноземних</br>інвестицій.'
				+b-service-item(text)
				- text = 'Перереєстрація іноземних інвестицій'
				+b-service-item(text)