include  ../block/index
include ../../node_modules/bemto.pug/bemto

doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, user-scalable=yes")
		title cntrl-prjct

	body

		block header

		block main

		link(rel="stylesheet" href="css/bundle.css")
		link(rel="stylesheet" href="css/main.css")
		script(type="text/javascript" src="js/bundle.js")
		script(type="text/javascript" src="js/main.js")